
.info-cards
  .info-card
    span.exit
      |x
    i.fa.fa-book
    .info
      h1
        |Books
  .info-card
    span.exit
      |x
    i.fa.fa-car
    .info
      h1
        |Cars
  .info-card
    span.exit
      |x
    i.fa.fa-building
    .info
      h1
        |Buildings
  .info-card
    span.exit
      |x
    i.fa.fa-bomb
    .info
      h1
        |Bombs
  .info-card
    span.exit
      |x
    i.fa.fa-cogs
    .info
      h1
        |Cogs
    
  .info-card
    span.exit
      |x
    i.fa.fa-cloud
    .info
      h1
        |Clouds